/.idea/
/shelf/
/workspace.xml
/build/
#/data
.idea

/src/nem_data/metadata_archive.pkl
/src/nem_data/metadata_current.pkl
#/src/nem_data/metadata_current_*.pkl
/src/nem_data/metadata_current_????_??_??.pkl
/src/nem_data/metadata_archive_????_??_??.pkl

/archive
/build
/dist
/ETL
/output/
/templates
buildexe_*.cmd
*.spec

